$bkg: #111;
$blue: #14a5ff;
$blue-glow: #22cef9;
$red: #f90000;
$red-glow: #ff1919;
$green-glow: #b3ff51;
$green: #0cd808;

h1.neon {
  margin: 0;
  font-size: 70px;
  padding: 0;
  font-family: $font_cursive;
  color: $blue;
  @include textShadow(#228DFF);
  position: relative;
  z-index: 5;
}

h2.neon {
  padding: 0;
  font-size: 50px;
  font-family: $font_mono;
  color: $red;
  @include textShadow-neon($red-glow);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #db0808;
  position: relative;
  z-index: 5;
}

a .showMore{
  position: absolute;
  bottom: 48px;
  left: calc(50% - 41px);
  color: white;
}

.schoolLogo{
  width: 100%;
}

.pill-skill{
  font-size: 18px;
}
