// https://fonts.google.com/selection?selection.family=Indie+Flower|Nova+Mono|Roboto:300,700|Satisfy&category=Monospace
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Nova+Mono|Roboto:300,700|Satisfy");

$font_handwriting: 'Indie Flower', cursive;
$font_cursive: 'Satisfy', cursive;
$font_mono: 'Nova Mono', monospace;
$font_normal: 'Roboto', sans-serif;
